# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: rafaelnoll
# "service" is the name of this project. This will also be added to your AWS resource names.
service: image-analysis

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - rekognition:DetectLabels
          Resource: "*"
        - Effect: Allow
          Action:
            - translate:TranslateText
          Resource: "*"
  # Uncomment to easily set up a custom domain. Read the docs for more details:
  # https://www.serverless.com/framework/docs/providers/aws/guide/domains
  # domain: api.example.com

functions:
  image-analysis:
    handler: src/index.main
    events:
      - httpApi:
          path: /analyse
          method: get
